#footer{
    background-color: #F2F2F2 ;
}
#footer .max-width{
        padding: 20px;
        display: flex;
}
#footer .column{
    flex: 1 0 33%;
}
#footer .column ul{
    list-style-type: none;
    padding: 0px; 
}
#footer .column h3 {
    font-size: 1.3em;
}
#footer .column ul li {
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-right: 14px;
}
#footer a{
    text-decoration: none;
    color: black;
}
#footer a:hover{
    color: #0065FC;
    font-weight: bold;
}

/* : @media (max-width: 724px) */
@media all and (max-width:724px){
    #footer .max-width {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #footer .max-width .column {
        margin-bottom: 15px;
    }
}