#header{
    display: flex;
}
#header #logo { /*dimensions et alignement du logo*/
    flex-basis: 25%;
}
#header #logo a{
    display: inline-block;
}
.logo { /* Redimensionner le logo */
    width: 110px;
    height: auto;
    margin: 0px;
}
 
/* définir la barre de navigation*/
#header nav{
    flex-basis: 75%;
}
#header nav ul { 
    list-style-type: none;
    text-align: right;
    padding: 0px;
    margin: 0;
}
#header nav ul li a{
    text-decoration: none;
    color: black;
    padding: 30px 50px;
    display: inline-block;
    border-top: 3px solid #fff;
}
#header nav ul li:hover a{
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
#header nav ul li.active a{   
    
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
#header nav ul li{ 
    margin: -2px;
    display: inline;
    font-family: "Raleway", sans-serif;
    font-size: 1.1em;
}
#header nav ul li .sinscrire {
    color: #0065fc;
    border-top: 0px;
    padding-right: 0px;
}
#header nav ul li:hover .sinscrire{
    border-top: 0px;
}
/* @media (max-width: 724px) */
@media all and (max-width: 724px){
    #header {
        display: block;
    }
    .logo{
        padding-left: 20px;
    }
    #header nav{
        position: relative;  
    }
    #header nav ul{
        text-align: center;
        margin-top: 37px;
    }
    #header nav ul li{
        width: 49%;
        display: inline-block;
        margin: 0px;
    }
    #header nav ul li a{
        padding: 5px 5px;
        border-top: 0px;
        display: block;
    }
    #header nav ul li.active a{
        border-bottom: 3px solid #0065FC;
        border-top: 0px;
    }
    #header nav ul li:hover a{
        border-top: 0px;
        border-bottom: 3px solid #0065FC;
    }
    #header nav ul li.act2 a{
        border-bottom: 3px solid #f2f2f2;
    }
    #header nav ul li.last{
        position: absolute;
        top: -75px;
        right: 0px;
        text-align: right;
    }
    #header nav ul li:hover .sinscrire{
        border-bottom: 0px;
    } 
}

