header{
    margin: 0 auto;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.logo { /*dimensions et alignement du logo*/
    margin: auto;
    float: left;
    width: 385px;
   height: auto;
}

 img { /* Redimensionner le logo */
    width: 96px;
    height: auto;
    margin: 0;
}
 
/* définir la barre de navigation*/
nav{
    float: right;
}


nav ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{ 
    margin: 0;
    display: inline;
    padding-inline: 22px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
 
.sinscrire {
    color: #0065fc;
}

/* add link hover effect and color */

