/* Les couleurs de la charte: bleu #0065FC, 
plus claire #DEEBFF, le gris pour le fond #F2F2F2. */


/* ajouter la police du site "Raleway-variable"*/
@font-face {
        font-family: "Raleway";      
        src: url(CSS/font/Raleway-VariableFont_wght.ttf) format('ttf');
        font-family: "Raleway-Regular";
        src: url(/CSS/font/Raleway-Regular.ttf) format('ttf');
}
body{
        /* ajouter font "Raleway"*/ 
        font-family: "Raleway", "Raleway-Regular", sans-serif;
        width: 100%;
        margin: auto;
}
.max-width{
        max-width: 1812px;
        margin: auto;
        padding-left: 50px;
        padding-right: 50px;
}
form {
        margin-top: 40px;
}
/*section1, research box,*/
p {
        font-size: 1.2em;
}
h1 {
        font-size: 1.7rem;
}
.border-search{
        border: solid 1px #f2f2f2;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 15px;
        width: 425px;
}
.border-search .map-icon{
        border: solid 1px #f2f2f2;
        background-color: #f2f2f2;
        padding: 20px 20px 16px 20px;
        border-radius: 15px 0 0 15px;
}
i.fas.fa-map-marker-alt {
        color: black;
}
.border-search input{
        font-weight: bold;
        font-size: large;
        padding-left: 20px;
        border: none;
        width: 100%;
}
.label-search label {
        margin-left: 10px;
        display: block;
}
label{
        font-weight: bold;
        font-size: large;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #0065FC;
        color: white;
        border-radius: 0 20px 20px 0;
        padding: 20px;
}
label:hover {
        cursor: pointer;
}
span.search-font-icon { /*cacher search-font-icon pour des écrans plus grands*/
        display: none;
}
/* filter-buttons*/
.filter-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: center;
        width: fit-content;
        margin-top: 35px;
        margin-bottom: 40px;
        font-weight: bold;   
}
.text-filtres {
        font-size: 1.34em;
}
.filter-button{
        border: solid 3px #F2F2F2;
        border-radius: 60px;
        background-color: white;
        margin-left: 25px;
        display: inline-flex;
        padding-left: 0px;
        margin-top: 5px;
}
button.filter-button:hover { /* ajouter button hover effect*/
        cursor: pointer;
        color: #0065FC;
}
.filter-icon{
        border: solid 1px #DEEBFF;
        border-radius: 50%;
        padding: 15px 16px 14px 16px;
        position: relative;
        left: -2px;
        background-color: #DEEBFF;
        margin: 0px;    
}
.fas{
        color: #0065FC;
        font-size: 1.5em;
}
i.fas.fa-info { /* style font icon - fa-info*/
        border: solid 1px #f2f2f2;
        padding: 10px 15px 10px 15px;
        border-radius: 50%;
        font-size: 1em;
}
.filter-text {
        font-weight: 800;
        font-size: 1rem;
        padding: 15px 15px 0px 15px;
        text-align: center;
}
.block{
        display: flex;       
}
.block p {
        font-size: 1em;
}
.block h2 {
        padding-left: 0px;
        margin-bottom: 35px;
}
h3 {
        font-size: 1.2rem;
        font-weight: 800;
}
.block .accomodation-details{
        flex-basis: 74%;
        margin-right: 45px;
        margin-top: 25px;
        background-color: #f2f2f2;
        border-radius: 10px;
        padding-left: 45px;
        padding-right: 35px;
        padding-top: 25px;
}
.block .accomodation-details #container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 585px;
        margin-bottom: 25px;
}
.block .accomodation-details #container .element {
        border: white;
        border-radius: 20px;
        text-align: left;
        flex-grow: 1;
        padding: 7px;
        max-height: 231px;
        min-width: 250px;
        max-width: 320px;
        width: 25%;
        margin-right: 10px;
        margin-bottom: 20px;
}
.block .accomodation-details #container .element h3 {
        margin-bottom: 0px;
        margin-left: 10px;
        margin-top: 5px;
}
.block .accomodation-details #container .element p {
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 10px;
}
.block .accomodation-details #container .element .stars {
        margin-left: 10px;
}
.element{
        border: white;
        background-color: white;
        box-shadow: 0px 4px 8px 0px rgb(202, 202, 202);       
        
}
.block-image-hebergement .image-hebergement{
        border-radius: 20px 20px 0px 0px;
        height: 140px;
        width: 100%;
        margin-bottom: 5px;   
}
.image-hebergement{
        object-fit: cover; 
        object-position: center;
}
i.fas.fa-star { /* modifier font icon-star*/
        font-size: 1em;
}
.section2 a{ /*un lien pour block, popular-accomodation, plus-populaires et "Afficher plus" */
        text-decoration: none;
        color: black;
        display: block;
}
.section2 .show-more{
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 30px;
}
.block .popular-accomodation {
        flex-basis: 26%;
        background-color: #f2f2f2;
        flex-direction: column;
        padding: 25px 45px;
        margin-top: 25px;
}
.block .popular-accomodation h2{
        position: relative;
        font-size: 1.5em;
}
.block .popular-accomodation h2 span{
        position: absolute;
        right: 0px;
}
i.fas.fa-chart-line {
        color: black;
        font-size: 1.2em;
}
.block .popular-accomodation .element2{ /* class="popular-accomodation"*/
        background-color: white;
        box-shadow: 0px 4px 8px 0px rgb(202, 202, 202);
        border-radius: 20px;
        padding: 7px;
        margin-bottom: 35px;
        max-width: 393px;
        min-width: 275px;
        height: 163px;
}
.block .popular-accomodation .element2 a {
        display: flex;
        height: 100%;
        width: 100%;
}
.block .popular-accomodation .element2 .elt-image{
        overflow: hidden;
}
.block .popular-accomodation .element2 .elt-image img {
        position: initial;
        width: 100%;
        height: 100%;
}
.block .popular-accomodation .element2 .elt-image {
        width: 42%;
        overflow: hidden;
        border-radius: 15px 0px 0 15px;
}
.block .popular-accomodation .element2 .elt-image img {
        border-radius: 15px 0px 0 15px;
        object-fit: cover;
        width: 100%;
        height: 100%;
}
.block .popular-accomodation .element2 .elt-desc{
        width: 55%;
        margin-left: 10px;
        position: relative;
}
.block .popular-accomodation .element2 .elt-desc h3 {
        margin-bottom: 0px;
}
.block .popular-accomodation .element2 .elt-desc .stars {
        position: absolute;
        bottom: 5px;
}
aside{ /* definir les margins et background de aside */
        display: inline-block;
        object-position: right;
        border-radius: 20px;
}
#container2{ 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        align-content: space-between;
}

/*section3 - 'Activités a Marseille'*/
.section3{ 
        margin-top: 40px;
        margin-bottom: 40px;
}
div#activites a {
        text-decoration: none;
        color: black;
        display: block;
        height: 100%;
        width: 100%;
}
div#container3 { /* definir avec flexbox pour la section3 'Activités a Marseille' */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
}
/* modification h3 dans #container3*/ 
#container3 h3 {
        height: auto;
        object-position: center;
        padding-left: 15px;
        margin-bottom: 0px;
        margin-left: 10px;
}
/* .Activities-one, .Activities-double-column */

.Activities-one {
        height: 500px;
        max-width: 21%;
}
.Activities-double-column {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: column;
        max-height: 510px;
        max-width: 23%;
}

.act-img-card-big, .act-img-card {
        border-radius: 20px;
        box-shadow: 0px 0px 9px 0px rgb(202 202 202);
}
.act-img-card-big {
        height: 100%;
        padding-bottom: 10px;
}
.act-img-card {
        height: 45%;
}
#container3 img.img-big, img.img-double { /*image size et fit*/
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px 20px 0px 0px;
}
#container3 img.img-big {
        height: 87%;
}
#container3 img.img-double{
        height: 74%;   
}
/*: @media (min-width: 768px) and (max-width: 1186px)*/ 
@media (min-width: 768px) and (max-width: 1186px) {
        .block .accomodation-details {
                flex-basis: 60%;
        }
        .block .popular-accomodation {
                flex-basis: 40%;
                padding: 25px;  
        }
        .block .accomodation-details {
                margin-right: 25px;
                padding-left: 25px;
                padding-right: 15px;
        }
        h3 {
                font-size: 1rem;    
        }
        .block p {
                font-size: 0.95em;
        }
        .block h2 {
                font-size: 1.4em; 
        }
        /*Activités à Marseille*/
        .Activities-double-column {
                max-height: 450px;
                max-width: 44%;
        }
        .Activities-one {
                height: 440px;
                max-width: 44%;
                margin-bottom: 40px;
        }

}
/* : @media (max-width: 767px) version mobile */

@media all and (max-width: 767px){
        .max-width{
                padding: 0px;
        }
        main {
                margin: 0 auto; 
        }
        /*section_search-section*/
        section.search-section {  
                margin: 20px;
        }
        .border-search {
                width: 100%;
        }
        .border-search .map-icon{
                padding: 20px 20px 18px 20px;
        }
        .label-search span.text-rech{ /* cacher text "Rechercher" pour @media (max-width: 767px)*/
                display: none;
        }
        span.search-font-icon {
                display: unset;
        }
        i.fas.fa-search {
                color: white;
        }
        label{
                border-radius: 20px;
        }
        p.text-filtres {
                font-size: 1.25em;
                width: 100%;
        }
        .filter-button {
                margin-left: 0px;
                margin-right: 10px;
                margin-bottom: 10px;
        }
        span.info-icon {
                display: block;
                float: left;
                top: -11px;
                position: relative;
                margin-left: 20px;
                margin-right: 15px;
        }
        .fas {
                font-size: 1.2rem;
        }
        .filter-text {
                font-weight: bolder;
                font-size: 1.1rem;
                padding: 16px 13px 0px 9px;
        }
        /* section2: hebergements et plus populaires */
        section#hebergement {
                margin: 0;
        }
        .block {
                display: flex;
                flex-direction: column-reverse;
                background-color: #f2f2f2;
                margin-top: 40px;
        }
        aside {
                border-radius: 0px;
                margin: auto;
        }
        .block .popular-accomodation {
                margin-top: 0px;
                padding: 30px 20px;
        }
        .block .accomodation-details {
                background-color: transparent;
                border-radius: 0px;
                background-color: white;
                margin: auto;
                padding-left: 20px;
                padding-right: 20px;      
        }
        .block .accomodation-details #container{
                justify-content: center;
        }
        .block .accomodation-details #container .element {
                max-width: 406px;
                width: 100%;
                margin-bottom: 20px;
                height: auto;
                margin-right: 0px;
        }
        .block .popular-accomodation .element2 {
                height: 177px;
                margin-bottom: 20px;
                max-width: 406px;
        }
        .block .popular-accomodation .element2 .elt-desc .stars {
                font-size: 0.8em;
        }
        .block .accomodation-details #container .element .stars {
                font-size: 0.8em;
        }
        .block h1 {
                padding-left: 5px;
        }
        .block .plus{
                margin-top: 15px;
                font-weight: bold;
                font-size: 1.1em;  
        }
        i.fas.fa-chart-line {
                font-size: 1.05em;
        }
        /* section3 "Activites a Marseille" */
        .section3 #activites {
                justify-content: center;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
        }
        .section3 #activites h2 {
                padding-left: 20px;
        }
        .section3 #activites #container3 {
                flex-direction: column;
                align-content: center;
                padding: 0px 20px;
        }
        .section3 #activites #container3 .Activities-one {
                height: auto;
        }
        .section3 #activites #container3 .act-img-card-big{
                margin-bottom: 25px;
                padding-bottom: 0px;
        }
        .section3 #activites #container3 .act-img-card {
                margin-bottom: 25px;
        }
        .section3 #activites #container3 img.img-big, img.img-double {
                max-height: 160px;
        }
              
        .section3 #activites #container3 .Activities-one, .Activities-double-column {
                max-width: 406px;
                width: 100%;
        }
        .section3 #activites #container3 h3 {
                padding-bottom: 15px;
        }
}
:root{
        --var-height-box-element: 182px;
}
