/* Les couleurs de la charte: bleu #0065FC, 
plus claire #DEEBFF, le gris pour le fond #F2F2F2. */


/* ajouter la police du site "Raleway-variable"*/
@font-face {
        font-family: 'Raleway';      
        src: url(.font\Raleway-VariableFont_wght.ttf) format('ttf-variations');
        src: url(.font\static\Raleway-Bold.ttf) format('ttf');
}

body{ 
        background-color: white;
        /* ajouter font 'Raleway'*/ 
        font-family: 'Raleway', sans-serif;
        
        /* ajouter 'breakpoints'*/
}

main{
        margin-left: 50px;
        margin-right: 50px;
}

.block{
        display: flex;
        
}
.block .accomodation-details{
        flex-basis: 75%;
        margin-right: 25px;
        background-color: #f2f2f2;
        border-radius: 10px;
}
.block .accomodation-details #container{
        display: flex;
}

.block .accomodation-details #container .element{
               
        border: white;
        border-radius: 20px;
        text-align: left;
        flex-basis: 33%;
        flex-grow: 1;
}

.block .popular-accomodation {
        flex-basis: 25%;
        background-color: #f2f2f2;
}


aside{ /* definir les margins et background de aside */
        display: inline-block;
        object-position: right;
        border-radius: 20px;
        
}
